
.room-item{
    background: #e0dfdf;
    line-height: 55px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.delete-room, .addHuesped{
    cursor: pointer;
}

.delete-room p{
    /*margin-bottom: 0;*/
    line-height: 55px;
}

.delete-room:hover, .addHuesped:hover{
    color: #59E436;
    transform: scale(1.6);
}